# Lines starting with '#' are comments.

# GUIDELINES:
# Each line is a file pattern followed by one or more owners.
# Owners bear a responsibility to the organization and the users of this
# application. Repository administrators have the ability to merge pull
# requests that have not yet received the requisite reviews as outlined
# in this file. Do not force merge any PR without confidence that it
# follows all policies or without full understanding of the impact of
# those changes on build, release and publishing outcomes.

/packages/delegation-abis           @MetaMask/delegation
/packages/delegation-core           @MetaMask/delegation
/packages/delegation-deployments    @MetaMask/delegation
/packages/delegation-toolkit        @MetaMask/delegation
